@import "../mainPage/header.css";
@import "../mainPage/footer.css";

:root {
  --color--post__content--about: #f1eeee;
  --color--footer--grey: #bbb8b8f5;
  --color--button--grey: #888484f5;
  --color--button--bule: #2838e9;
  --color--button--hover: #378fe2;
  --color--postContentBlock: #000;
  --color--anchor--hover: #a52a2a;
  --color--anchor: #3a3adf;
  --color--hr: #c4bfbd;
}

*,
*::before,
*::after {
  /* border: solid 1px black; */
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  /* display: flex;
  justify-content: center; */
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 1px;
}

.post__content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

a {
  color: var(--color--anchor);
}

hr {
  border: none;
  height: 1px;
  background-color: var(--color--hr);
}

.post__content--ul {
  list-style-type: none;
  display: inline;
  padding: 0;
}

.post__content--date,
li a {
  font-size: 1rem;
  color: var(--color--anchor);
  text-decoration: none;
  text-decoration: underline;
  transition: all 0.25s ease;
}

ul li a:hover {
  color: var(--color--anchor--hover);
}

/* .post__content--left {
  flex: 8;
}
.post__content--right {
  flex: 4;
} */

post__content--right,
h3 {
  margin: 0;
  padding: 0;
  font-style: italic;
}

.post__content--left,
.post__content--right {
  padding: 0px 50px 25px 50px;
}

p,
div,
hr,
ol,
ul {
  margin-bottom: 20px;
}

/* .post__content {
  display: flex;
  padding: 10px;
  position: relative;
} */

.post__content--block {
  border: 1px solid var(--color--postContentBlock);
  padding: 2px;
  padding-bottom: 20px;
}

.post__content--codeBlock {
  border: 1px solid var(--color--postContentBlock);
}

.post__content--about {
  margin-bottom: 50px;
  padding: 10px;
  background-color: var(--color--post__content--about);
}

.post__content--archives {
  margin-bottom: 50px;
}

.post__content--buttons {
  display: grid;
  grid-template-columns: 125px 130px;
  grid-template-rows: 55px 55px;
  margin-top: 50px;
}

.post__content--buttons a {
  border-radius: 20px;
  padding: 8px 8px 8px 15px;
  text-decoration: none;
  margin: 5px;
  transition: all ease 0.25s;
}

.post__content--buttons a:hover {
  background-color: var(--color--button--hover);
}

.post__content--buttonsFill {
  border: 1px solid var(--color--button--bule);
  color: var(--color--button--bule);
}

.post__content--buttonsGrey {
  color: var(--color--button--grey);
  border: 1px solid var(--color--button--grey);
}

footer {
  background-color: var(--color--footer--grey);
  width: 100%;
}

footer a {
  color: var(--color--anchor);
}

.header__icon img {
  margin-top: 15px;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 1.5rem;
  }
  .header__link {
    font-size: smaller;
  }
  .header__icon img {
    font-size: smaller;
  }

  .header__title {
    margin-right: 40px;
  }

  .post__content {
    display: flex;
    flex-direction: column;
  }

  footer {
    font-size: small;
  }
}
